openapi: 3.0.3

info:
  title: Order Service API
  version: 1.0.0
  description: |
    API для управления заказами транспортных услуг.

    Поддерживает:
    - асинхронное создание заказа
    - обновление заказа
    - отмену заказа
    - получение статуса через polling
    - HATEOAS

servers:
  - url: https://api.delivplus.com

security: 
  - bearerAuth: []

paths:

  /v1/orders:

    post:
      summary: Создание заказа (асинхронно)
      description: |
        Создает заказ в асинхронном режиме.

        Возвращает 202 Accepted.
        Обработка выполняется асинхронно, статус отслеживается через polling.
      operationId: createOrder
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - in: header
          name: Idempotency-Key
          required: true
          description: |
            Уникальный ключ идемпотентности.

            Используется для предотвращения дублирования заказов.
          schema:
            type: string
            maxLength: 64
            example: "idemp-123"
      requestBody:
        required: true
        description: Данные заказа
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '202':
          description: |
            Принято в обработку.

            Заказ создается асинхронно.
          headers:
            Location:
              description: URL для проверки статуса
              schema:
                type: string
                example: "/v1/orders/123/status"
            Retry-After:
              description: Время ожидания перед повторным запросом
              schema:
                type: integer
                example: 3
            X-Correlation-Id:
              description: Идентификатор трассировки
              schema:
                type: string
                example: "corr-123"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderAsyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /v1/orders/{orderId}:

    get:
      summary: Получить заказ
      description: Возвращает текущее состояние заказа
      operationId: getOrder
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: OK
          headers:
            X-Correlation-Id:
              description: Идентификатор трассировки запроса
              schema:
                type: string
                example: "corr-123"
            Retry-After:
              description: Врмя ожидания перед повторным запросом в секундах
              schema: 
                type: integer
                example: 3
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          $ref: '#/components/responses/NotFound'
       
    patch:
      summary: Обновить заказ
      description: Обновляет параметры заказа, изменяется только deliveryProviderId
      operationId: updateOrder
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/OrderId'
        - in: header
          name: Idempotency-Key
          required: true
          description: Добавлен Ключ идемпотентности для безопасного повторения запроса и Исправлен с опционального на обязательный
          schema:
            type: string
            maxLength: 64
            example: "idemp-123"
      requestBody:
        required: true
        description: Данные для обновления
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequest'
      responses:
        '200':
          description: Заказ обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '423':
          $ref: '#/components/responses/Locked'

    delete:
      summary: Отмена заказа
      description: |
        Пользователь может отменить только свой заказ

        Если заказ уже в финальном состоянии - вернет ошибку.
      operationId: cancelOrder
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '204':
          description: Заказ отменен
        '403':
          description: Forbidden — доступ запрещен (заказ не принадлежит пользователю)
          content:
           application/json:
            schema:
             $ref: '#/components/schemas/Error'
        '404':
           $ref: '#/components/responses/NotFound'
        '409':
           $ref: '#/components/responses/Conflict'

  /v1/orders/{orderId}/status:

   

components:

  parameters:

    CorrelationId:
      name: X-Correlation-Id
      in: header
      required: false
      description: Идентификатор трассировки запроса
      schema:
        type: string
        maxLength: 64
        example: "corr-123"

    OrderId:
      name: orderId
      in: path
      required: true
      description: Уникальный идентификатор заказа
      schema:
        type: string
        pattern: '^[a-zA-Z0-9\-]{1,36}$'
        example: "123"

  securitySchemes:   
       bearerAuth:
        type: http
        scheme: bearer

  schemas:
     
    CreateOrderRequest:
      type: object
      description: Запрос на создание заказа
      additionalProperties: false
      required:
        - address
        - items
      properties:
        address:
          type: string
          description: Адрес доставки
          maxLength: 255
          example: "Россия, г. Краснодар, ул. Красная, д. 25, кв. 12"
        items:
          type: array
          description: Список товаров
          minItems: 1
          maxItems: 20
          items:
            type: string
            description: Название товара
            maxLength: 100
            example: "Телефон"
          example:
            - "Телефон"
            - "Ноутбук"

    UpdateOrderRequest:
      type: object
      description: Запрос на частичное обновление заказа - deliveryProviderId, deliveryProviderId будет выбран пользователем из списка доступных служб доставки
      additionalProperties: false
      properties:
        deliveryProviderId:
          type: string
          maxLength: 50
          description: Идентификатор выбраннойслужбы доставки
          example: "cdek"
      minProperties: 1

    OrderAsyncResponse:
      type: object
      description: Ответ при асинхронном создании заказа
      required:
       - orderId
       - status
       - _links
      additionalProperties: false
      properties:
        orderId:
          type: string
          description: Идентификатор созданного заказа
          example: "123"
        status:
          type: string
          description: Статус обработки заказа
          enum:
           - CREATED
           - PROCESSING
          example: "CREATED"
        _links:
           $ref: '#/components/schemas/Links'
          

    Order:
      type: object
      description: Сущность заказа
      properties:
        orderId:
          type: string
          description: Уникальный идентификатор заказа
          example: "123"
        userID:
          type: string
          description: Идентификатор владельца заказа (из access token)
          example: "user-123"
        status:
          type: string
          description: Текущий статус заказа
          enum:
            - CREATED
            - PROCESSING
            - DELIVERY_SELECTED
            - PAID
            - PAYMENT_FAILED
            - CANCELLED
          default: "CREATED"
          example: "CREATED"
        deliveryProviderId:
          type: string
          description: Идентификатор службы доставки deliveryProviderId является внешним значением, формируемым клиентским приложением на основе данных, полученных из Aggregator Service. Order Service не владеет списком доступных служб и не выполняет их валидацию, а только сохраняет переданное значение.
          example: "cdek"
        address:
          type: string
          description: Адрес доставки
          example: "Россия, г. Новороссийск, ул. Советов, д. 10, кв. 45"
        items:
          type: array
          description: Список товаров в заказе
          items:
            type: string
            maxLength: 100
          example:
             - "Телефон"
             - "Ноутбук"
        _links:
          $ref: '#/components/schemas/Links'
    
   
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
         type: integer
         description: HTTP статус или код ошибки
         example: 404
        message:
         type: string
         description: Описание ошибки
         example: Ресурс не найден
        details:
          type: string
          description: Дополнительная техническая информация об ошибке (например, детали валидации)
          example: Order not found

    Links:
      type: object
      description: HATEOAS ссылки
      required:
       - href
       - method
      properties:
        href:
          type: string
          description: URL ресурса
          example: "/v1/orders/123"
        method:
          type: string
          enum: [GET, PATCH, DELETE]
          description: HTTP метод
          example: GET
        self:
          allOf:
            - $ref: '#/components/schemas/Link'
          description: Ссылка на текущий ресурс
        update:
          allOf:
            - $ref: '#/components/schemas/Link'
          description: Ссылка для обновления заказа
        cancel:
          allOf:
            - $ref: '#/components/schemas/Link'
          description: Ссылка для отмены заказа
        status: 
          allOf:
            - $ref: '#/components/schemas/Link'
          description: Ссылка для получения статуса заказа
          

    Link:
      type: object
      description: Гипермедиа ссылка
      properties:
        href:
          type: string
          description: URL ресурса
          example: "/v1/orders/123"
        method:
          type: string
          description: HTTP метод для перехода по ссылке
          enum: [GET, PATCH, DELETE]
          example: "GET"

   

  responses:

    BadRequest:
      description: Ошибка валидации
      content:
        application/json:
          schema: 
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: "Invalid request"

    Conflict:
      description: Конфликт состояния
      content:
        application/json:
          schema: 
            $ref: '#/components/schemas/Error'
          example:
            code: 409
            message: "Order already completed"

    Locked:
      description: Ресурс заблокирован
      content:
        application/json:
          schema: 
            $ref: '#/components/schemas/Error'
          example:
            code: 423
            message: "Resource is locked"

    TooManyRequests:
      description: Превышен лимит запросов
      content:
        application/json:
          schema: 
            $ref: '#/components/schemas/Error'
          example:
            code: 429
            message: "Too many requests"

    RequestTimeout:
      description: Таймаут
      content:
        application/json:
          schema: 
            $ref: '#/components/schemas/Error'
          example:
            code: 408
            message: "Timeout"

    FailedDependency:
      description: Ошибка внешнего сервиса
      content:
        application/json:
          schema: 
            $ref: '#/components/schemas/Error'
          example:
            code: 424
            message: "External service error"

    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: "Not Found"