openapi: 3.1.0

info:
  title: Order Service API
  version: 1.0.0
  description: |
    API для управления заказами транспортных услуг.

    Поддерживает:
    - асинхронное создание заказа
    - получение списка заказов
    - обновление заказа
    - отмену заказа
    - получение статуса
    - HATEOAS

servers:
  - url: https://api.delivplus.com

security: 
  - bearerAuth: []

paths:

 /v1/orders:

  post:
      summary: Создание заказа (асинхронно)
      description: |
        Создает заказ в асинхронном режиме.
        Создать заказ может только аутентифицированный пользователь.
        userId извлекается из access token на стороне сервера и не передается клиентом.
        Возвращает 202 Accepted.
        Обработка выполняется асинхронно, статус отслеживается через polling.
        Если тот же ключ используется с другим телом запроса — возвращается 409 Conflict
      operationId: createOrder
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - in: header
          name: Idempotency-Key
          required: true
          description: |
            Уникальный ключ идемпотентности.
            Используется для предотвращения дублирования заказов.
            Idempotency-Key хранится ограниченное время (например, 24 часа)
          schema:
             type: string
             maxLength: 64
             minLength: 1
             examples: 
              - "idemp-123"
      requestBody:
        required: true
        description: Данные заказа
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '202':
          description: |
            Принято в обработку.

            Заказ создается асинхронно.
          headers:
            Location:
              description: URL для проверки статуса
              schema:
                type: string
                examples: 
                  - "/v1/orders/123/status"
            Retry-After:
              description: Время ожидания перед повторным запросом
              schema:
                type: integer
                examples: 
                  - 3
            X-Correlation-Id:
              description: Идентификатор трассировки
              schema:
                type: string
                examples: 
                  - "corr-123"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderAsyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'

   
  get:
    summary: Получить список заказов
    description: |
      Возвращает список заказов текущего аутентифицированного пользователя.
      Поддерживается фильтрация по статусу и пагинация с помощью параметров `limit` и `offset`.
      Пользователь может получить только свой список заказов. Идентификатор пользователя (userId) извлекается из access token на стороне сервера, и все операции выполняются строго в контексте аутентифицированного пользователя. При попытке доступа к чужому заказу возвращается 403 Forbidden. 
    operationId: listOrders
    parameters:
      - $ref: '#/components/parameters/CorrelationId'
      - in: query
        name: status
        required: true
        schema:
          type: string
          enum: [CREATED, PROCESSING, DELIVERY_SELECTED, PAID, PAYMENT_FAILED, CANCELLED]
        description: Фильтр по статусу заказа
      - in: query
        name: limit
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Количество заказов на странице
      - in: query
        name: offset
        required: true
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Смещение для пагинации
    responses:
      '200':
        description: Список заказов пользователя
        headers:
          X-Correlation-Id:
            description: Идентификатор трассировки запроса
            schema:
              type: string
              examples: 
                - "corr-123"
          X-Total-Count:
            description: Общее количество заказов, соответствующих фильтру
            schema:
              type: integer
              examples: 
                - 57
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Order'
            example:
              - orderId: "123"
                userId: "user-123"
                status: "CREATED"
                deliveryProviderId: "cdek"
                address: "Россия, г. Новороссийск, ул. Советов, д. 10, кв. 45"
                items:
                  - "Телефон"
                  - "Ноутбук"
                _links:
                  - rel: self
                    href: "/v1/orders/123"
                    method: GET
              - orderId: "124"
                userId: "user-123"
                status: "PROCESSING"
                deliveryProviderId: "dostavista"
                address: "Россия, г. Краснодар, ул. Красная, д. 25, кв. 12"
                items:
                  - "Монитор"
                _links:
                  - rel: self
                    href: "/v1/orders/124"
                    method: GET
      '400':
        $ref: '#/components/responses/BadRequest'
      '401':
        $ref: '#/components/responses/Unauthorized'
      '403':
        $ref: '#/components/responses/Forbidden'
      '429':
        $ref: '#/components/responses/TooManyRequests'

 /v1/orders/{orderId}:

    get:
      summary: Получить заказ
      description: Возвращает текущее состояние заказа. Требует аутентификации.  Пользователь может получить только свой заказ. Идентификатор пользователя (userId) извлекается из access token на стороне сервера, и все операции выполняются строго в контексте аутентифицированного пользователя. При попытке доступа к чужому заказу возвращается 403 Forbidden. 
      operationId: getOrder
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: OK
          headers:
            X-Correlation-Id:
              description: Идентификатор трассировки запроса
              schema:
                type: string
                examples: 
                  - "corr-123"
            Retry-After:
              description: Врмя ожидания перед повторным запросом в секундах
              schema: 
                type: integer
                examples: 
                  - 3
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        
       
    patch:
      summary: Обновить заказ
      description: | 
        Обновляет параметры заказа, изменяется только deliveryProviderId. Требует аутентификации.  Пользователь может обновить только свой заказ. Идентификатор пользователя (userId) извлекается из access token на стороне сервера, и все операции выполняются строго в контексте аутентифицированного пользователя.
        При попытке доступа к чужому заказу возвращается 403 Forbidden. 
      operationId: updateOrder
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/OrderId'
        - in: header
          name: Idempotency-Key
          required: true
          description: Добавлен Ключ идемпотентности для безопасного повторения  запроса и Исправлен с опционального на обязательный, Idempotency-Key хранится ограниченное время (например, 24 часа)
          schema:
            type: string
            maxLength: 64
            minLength: 1
            examples: 
              - "idemp-123"
      requestBody:
        required: true
        description: Данные для обновления
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequest'
      responses:
        '200':
          description: Заказ обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '423':
          $ref: '#/components/responses/Locked'

    delete:
      summary: Отмена заказа
      description: |
        Пользователь может отменить только свой заказ
        Требует аутентификации.
        Если заказ уже в финальном состоянии - вернет ошибку.
      operationId: cancelOrder
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '204':
          description: Заказ отменен
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'


components:

  parameters:

    CorrelationId:
      name: X-Correlation-Id
      in: header
      required: false
      description: Идентификатор трассировки запроса
      schema:
        type: string
        maxLength: 64
        format: uuid 
        examples: 
          - "corr-123"

    OrderId:
      name: orderId
      in: path
      required: true
      description: Уникальный идентификатор заказа
      schema:
        type: string
        pattern: '^[a-zA-Z0-9\-]{1,36}$'
        maxLength: 36
        examples: 
          - "123"

  securitySchemes:   
    bearerAuth:
      type: http
      scheme: bearer

  schemas:
     
    CreateOrderRequest:
      type: object
      description: Запрос на создание заказа
      additionalProperties: false
      required:
        - address
        - items
      properties:
        address:
          type: string
          description: Адрес доставки
          maxLength: 255
          minLength: 6
          examples: 
            - "Россия, г. Краснодар, ул. Красная, д. 25, кв. 12"
        items:
          type: array
          description: Список товаров
          minItems: 1
          maxItems: 20
          items:
            type: string
            description: Название товара
            minLength: 1
            maxLength: 100
            examples: 
              - "Телефон"
              - "Ноутбук"
        

    UpdateOrderRequest:
      type: object
      description: Запрос на частичное обновление заказа - deliveryProviderId, deliveryProviderId будет выбран пользователем из списка доступных служб доставки
      additionalProperties: false
      required: 
        - deliveryProviderId
      properties:
        deliveryProviderId:
          type: string
          description: Идентификатор выбранной службы доставки
          minLength: 1
          maxLength: 50
          examples: 
            - "cdek"
      minProperties: 1

    OrderAsyncResponse:
      type: object
      description: Ответ при асинхронном создании заказа
      required:
       - orderId
       - status
       - _links
      additionalProperties: false
      properties:
        orderId:
          type: string
          description: Идентификатор созданного заказа
          maxLength: 36
          minLength: 1
          examples: 
            - "123"
        status:
          type: string
          description: Статус обработки заказа
          maxLength: 10
          minLength: 1
          enum:
           - CREATED
           - PROCESSING
          examples: 
            - "CREATED"
        _links:
          type: array
          description: HATEOAS ссылки
          minItems: 1
          maxItems: 10
          items:
            $ref: '#/components/schemas/Link'

    Order:
      type: object
      description: Сущность заказа
      required: 
        - orderId
        - userId
        - status
        - deliveryProviderId
        - address
        - items
        - _links
      additionalProperties: false
      properties:
        orderId:
          type: string
          description: Уникальный идентификатор заказа
          maxLength: 36
          minLength: 1
          examples:  
            - "123"
        userId:
          type: string
          description: Идентификатор пользователя извлекается из access token и не передается в API явно. Все операции выполняются от имени аутентифицированного пользователя.
          maxLength: 36
          minLength: 1
          examples: 
            - "user-123"
        status:
          type: string
          description: Текущий статус заказа
          maxLength: 10
          enum:
            - CREATED
            - PROCESSING
            - DELIVERY_SELECTED
            - PAID
            - PAYMENT_FAILED
            - CANCELLED
          default: "CREATED"
          examples: 
            - "CREATED"
        deliveryProviderId:
          type: string
          description: Идентификатор службы доставки deliveryProviderId является внешним значением, формируемым клиентским приложением на основе данных, полученных из Aggregator Service. Order Service не владеет списком доступных служб и не выполняет их валидацию, а только сохраняет переданное значение.
          maxLength: 50
          minLength: 1
          examples: 
            - "cdek"
        address:
          type: string
          description: Адрес доставки
          maxLength: 255
          minLength: 5
          examples: 
            - "Россия, г. Новороссийск, ул. Советов, д. 10, кв. 45"
        items:
          type: array
          description: Список товаров в заказе
          minItems: 1
          maxItems: 20
          items:
           type: string
           maxLength: 100
           examples:
             - "Телефон"
             - "Ноутбук"
        _links:
          type: array
          description: HATEOAS ссылки
          minItems: 1
          maxItems: 10
          items:
            $ref: '#/components/schemas/Link'
    
    Error:
      type: object
      required:
        - code
        - message
        - details
      additionalProperties: false
      properties:
        code:
         type: integer
         description: HTTP статус или код ошибки
         format: int32
         examples: 
          - 404
        message:
         type: string
         description: Описание ошибки
         maxLength: 255
         minLength: 1
         examples: 
          - Ресурс не найден
        details:
          type: string
          description: Дополнительная техническая информация об ошибке (например, детали валидации)
          maxLength: 500
          examples: 
            - Order not found

    Link:
      type: object
      description: Гипермедиа ссылка
      required:
        - rel
        - href
        - method
      additionalProperties: false
      properties:
        rel:
          type: string
          description: Тип ссылки (self, update, cancel, status)
          maxLength: 10
          minLength: 1
          examples: 
            - self
        href:
          type: string
          description: URL ресурса
          maxLength: 255
          minLength: 1
          examples: 
            - "/v1/orders/123"
        method:
          type: string
          description: HTTP метод для перехода по ссылке
          maxLength: 6
          minLength: 3
          enum: [GET, PATCH, DELETE]
          examples: 
            - "GET"

  responses:

    BadRequest:
      description: Ошибка валидации
      content:
        application/json:
          schema: 
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: "Invalid request"
            details: "Поле address не может быть пустым"

    Conflict:
      description: Конфликт состояния
      content:
        application/json:
          schema: 
            $ref: '#/components/schemas/Error'
          example:
            code: 409
            message: "Order already completed"
            details: "Заказ уже находится в финальном статусе"

    Locked:
      description: Ресурс заблокирован
      content:
        application/json:
          schema: 
            $ref: '#/components/schemas/Error'
          example:
            code: 423
            message: "Resource is locked"
            details: "Заказ недоступен для изменения" 

    TooManyRequests:
      description: Превышен лимит запросов
      content:
        application/json:
          schema: 
            $ref: '#/components/schemas/Error'
          example:
            code: 429
            message: "Too many requests"
            details: "Превышен лимит запросов, попробуйте позже"

    RequestTimeout:
      description: Таймаут
      content:
        application/json:
          schema: 
            $ref: '#/components/schemas/Error'
          example:
            code: 408
            message: "Timeout"
            details: "Время ожидания запроса истекло"

    FailedDependency:
      description: Ошибка внешнего сервиса
      content:
        application/json:
          schema: 
            $ref: '#/components/schemas/Error'
          example:
            code: 424
            message: "External service error"
            details: "Не удалось выполнить операцию из-за ошибки зависимого сервиса"

    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: "Not Found"
            details: "Заказ с указанным orderId не найден"

    Unauthorized:
       description: Пользователь не аутентифицирован
       content:
         application/json:
           schema:
             $ref: '#/components/schemas/Error'
           example:
             code: 401
             message: "Unauthorized"
             details: "Требуется аутентификация для доступа к ресурсу"

    Forbidden:
      description: Доступ к чужому заказу запрещен
      content:
        application/json:
         schema:
           $ref: '#/components/schemas/Error'
         example:
           code: 403
           message: "Forbidden"  
           details: "Нельзя выполнять операции с чужим заказом"